---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import TechStack from "../components/sections/TechStack.astro";
import Services from "../components/sections/Services.astro";
import Projects from "../components/sections/Projects.astro";
---

<Layout
	title="Axel | Diseñador & Desarrollador Web"
	description="Portafolio de Axel, diseñador y desarrollador web especializado en experiencias digitales minimalistas."
>
	<main class="space-y-32 pb-32">
		<Hero />
		<TechStack />
		<Projects />
		<Services />
	</main>
</Layout>
